*{
  margin: 0;
  padding: 0;
} 
body{
  box-sizing: border-box;
  background-image: url("../assets/back.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.card{
  border: silver 75px solid;
  border-image-source: url("../assets/border.png");
  border-image-slice: 75;
  text-align: justify;
  background:radial-gradient(black, #5b9a91);
  color: #937341;
  height: 100vh;
}

footer{
  position: fixed;
  bottom: 0;
  background-color: #5b9a91;
  width: 100%;
  text-align: center;
}
