*{
  margin: 0;
  padding: 0;
} 
body{
  box-sizing: border-box;
  background-image: url("../assets/back.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome{
  font-size: .8rem;
  color: goldenrod;
  text-align: center;
  width: 50vw;
}
.header{
  text-align: center;
  width: 50vh;
}
.containerimgborde{
  border: silver 75px solid;
  border-image-source: url("../assets/border.png");
  border-image-slice: 75;
  text-align: justify;
}
.imgborde{
  border: silver 75px solid;
  border-image-source: url("../assets/border.png");
  border-image-slice: 75;
  text-align: center;
 }

footer{
  position: fixed;
  bottom: 0;
  background-color: black;
  width: 100%;
  text-align: center;
}
