
*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url("../assets/back.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.title{
  text-align: center;
  width: 90vh;
}
.header{
  text-align: center;
  width: 50vh;
}
.containerimgborde{
  border: silver 75px solid;
  border-image-source: url("../assets/border.png");
  border-image-slice: 75;
  text-align: justify;
}

footer{
  position: fixed;
  bottom: 0;
  background-color: black;
  width: 100%;
  text-align: center;
}
.sing-up{
  display: none;
}
.first-page{
  background-image: url("../assets/back.png");
  width: 100%;
  height: 100vh;
}
