<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/main.css">
  <title>Lol4NewBees</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="https://play.na.leagueoflegends.com/en_US">
      <img src="../assets/LOL_Logo.png" width="70" height="70" alt="logo">
    </a>
    <h1 class="title">
      <span style="color: #937341">Bienvenido invocador
        <br>**name**</span>
    </h1>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">La grieta
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vocabulario</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Campoenes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Historia</a>
            <a class="dropdown-item" href="#">Combos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Tips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Dudas Frecuentes</a>
        </li>
      </ul>
      </div>
  </nav>
  <header>
      <img src="../assets/Lollogo.png" alt="">
  </header>
  <main>
     <section>
         <div>
             <img src="../assets/border.png" alt="">
         </div>
     </section>
  </main>
  <footer>
    <div class="panel panel-default">
      <div class="panel-body">A Basic Panel</div>
    </div>
  </footer>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDMO_Lp1WJu123MjGNjwuNcuulXCj40eqw",
      authDomain: "lol-4new-bees.firebaseapp.com",
      databaseURL: "https://lol-4new-bees.firebaseio.com",
      projectId: "lol-4new-bees",
      storageBucket: "lol-4new-bees.appspot.com",
      messagingSenderId: "898255528761"
    };
    firebase.initializeApp(config);
  </script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
</body>

</html>
